/*.loading {
	width: 200%;
	height: 200%;
	position: fixed;
	display: block;
	top: -50%;
	left: -50%;
	animation: loadingAnimation 0.5s infinite linear;
	-webkit-animation: loadingAnimation 0.5s infinite linear;
	z-index: 9999;
}

.loading:after {
	content: " ";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -25px;
    margin-top: -25px;
    border-radius: 50%;
    border-left: 2px rgba(0, 112, 255, 0.6) solid;
    border-right: 2px rgba(0, 112, 255, 0.6) solid;
    border-top: 2px rgba(0, 0, 0, 0.1) solid;
    border-bottom: 2px rgba(0, 0, 0, 0.1) solid;
    box-shadow: 0px 0px 5px rgba(39, 167, 247, 0.72);
    box-sizing: border-box;
    z-index: 1;
}

.loading:before {
	content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    left: 50%;
    top: 50%;
    margin-left: -15px;
    margin-top: -15px;
    border-radius: 50%;
    border: 2px rgba(0, 112, 255, 0.6) solid;
    box-shadow: 0px 0px 5px rgba(39, 167, 247, 0.72);
    box-sizing: border-box;
    z-index: 2;
}

@-webkit-keyframes loadingAnimation {
	0% {
		transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(-360deg);
		-webkit-transform: rotateZ(-360deg);
	}
}

@keyframes loadingAnimation {
	0% {
		transform: rotateZ(0deg);
		-webkit-transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(-360deg);
		-webkit-transform: rotateZ(-360deg);
	}
}*/

/*.loading{
	width: 100vw;
	height: 100vh;
	text-align: center;
	line-height: 100vh;
	position: relative;
	overflow: hidden;
	font-size: 13px;
	z-index: 999;
}
.loading::before{
	content: " ";
	width: 60px;
	height: 60px;
	box-sizing: border-box;
	border-left: 5px #666666 solid;
	border-right: 5px #666666 solid;
	border-top: 5px rgba(0,0,0,0) solid;
	border-bottom: 5px rgba(0,0,0,0) solid;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	-webkit-animation: loadingText 1s infinite;
	box-shadow: 0px 0px 15px #666666;
	pointer-events: none;
}
.loading::after{
	content: " ";
	width: 35px;
	height: 35px;
	box-sizing: border-box;
	border-left: 5px #666666 solid;
	border-right: 5px #666666 solid;
	border-top: 5px rgba(0,0,0,0) solid;
	border-bottom: 5px rgba(0,0,0,0) solid;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	border-radius: 50%;
	-webkit-animation: loadingText 0.8s linear infinite reverse;
	box-shadow: 0px 0px 15px #666666;
	pointer-events: none;
}
@-webkit-keyframes loadingText{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}*/


.loading{
	position: fixed;
	width: 100vw;
	height: 100vh;
	left: 0px;
	right: 0px;
	background-color: rgba(0,0,0,0);
	z-index: 999;
	overflow: hidden;
}
.loading::before{
	content: " ";
	width: 60px;
	height: 60px;
	border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0,0,0,0.7);
	z-index: 1000;
}
.loading::after{
	content: " ";
	display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23EEEEEE'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 1001;
    -webkit-animation: rotateAnimation 1s steps(12,end) infinite;
	animation: rotateAnimation 1s steps(12,end) infinite;
}
@-webkit-keyframes rotateAnimation{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}




.tip{
	width: 50%;
    min-height: 30px;
    position: fixed;
    margin: 0 auto;
    bottom: 50px;
    word-wrap:break-word;
	white-space: pre-wrap;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    background-color: #505050;
    color: #FFFFFF;
    border-radius: 15px;
    font-weight: bold;
    opacity: 0;
    animation: tipShow 3s;
	-webkit-animation: tipShow 3s;
	display: none;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 999;
}
@keyframes tipShow{
	30%{opacity: 1;}
	60%{opacity: 1;}
	100%{opacity: 0;}
}
@-webkit-keyframes tipShow{
	30%{opacity: 1;}
	60%{opacity: 1;}
	100%{opacity: 0;}
}