.kongxian{
	background-color: rgb(228, 228, 228);
	color: #333333;
}
.yuding{
	background-color: rgb(50, 101, 208);
	color: #ffffff;
}
.daike{
	background-color: rgb(252, 132, 255);
	color: #ffffff;
}
.shiyong{
	background-color: rgba(218, 34, 27, 0.76);
	color: #ffffff;
}
.yushi{
	background-color: rgb(50, 179, 136);
	color: #ffffff;
}
.chaoshi{
	background-color: rgb(94, 148, 130);
	color: #ffffff;
}
.mandixiao{
	background-color: rgb(77, 152, 179);
	color: #ffffff;
}
.yifu{
	background-color: rgb(138, 80, 175);
	color: #ffffff;
}
.dadan{
	background-color: rgb(232, 198, 79);
	color: #ffffff;
}
.jiezhang{
	background-color: rgb(146, 210, 105);
	color: #ffffff;
}
.qingsao{
	background-color: rgba(95, 94, 224, 0.77);
	color: #ffffff;
}
.jinyong{
	background-color: rgb(116, 117, 115);
	color: #ffffff;
}
.quanbu{
	color: #4483D4;
}
