.switch{
	position: relative;
	width: 0px;
	height: 0px;
	border: 0px;
	background-color: transparent;
	top: 20px;
	outline: none;
}
.switch:after{
	content: "";
    width: 48px;
    height: 30px;
    display: block;
    position: absolute;
    left: 5px;
    top: -28px;
    border: 1px rgba(148, 148, 148, 0.2) solid;
    background-color: #FBFBFB;
    font-size: 40px;
    line-height: 27px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    z-index: 1;
}
.switch:before{
	content: " ";
    width: 28px;
    height: 28px;
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    border: 1px rgba(204, 204, 204, 0.42) solid;
    border-radius: 14px;
    top: -27px;
    left: 5px;
    transition: left 0.25s,width 0.25s;
    -webkit-transition: left 0.25s,width 0.25s;
    z-index: 2;
    cursor: pointer;
    box-shadow: -1px 2px 3px rgba(173, 173, 173, 0.44);
}
.switch:checked:before{
	left: 24px;
}
.switch:checked:after{
    border-color: #4cd964;
    background-color: #4cd964;
}
.switch:active:before{
	width: 35px;
}
.switch:checked:active:before{
	width: 35px;
	left: 17px;
}


